<html>
	<head>
		{% if title %}
		<title> {{ title }} - SEEIT Systems</title>
		{% else %}
		<title>Welcome to SEEIT SYSTEMS</title>
		{% endif %}
	</head>
	<body>
		<div>
			SEEIT-Systems: 
			<a href="{{ url_for('index') }}">Home</a>
			<a href="{{ url_for('parkingform') }}">Parking Lot</a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li> {{ message }} </li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %} {% endblock %}
	</body>
</html>